.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    border-radius: 8px;
    background-color:#0059d6;
    color: white;
    font-weight: bold;
    font-size: 21px;
    border: 2px solid;
    padding: 20px;
    box-shadow: 6px 4px 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media(max-width: 450px) {
    .button {
        height: 50px;
    } 
}