.profile__container {
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.profile__container img {
    width: 100px;
    border-radius: 50%;
}
.profile__container h2 {
    margin: auto 0;
}
@media(max-width: 450px) {
    .profile__container img {
        width: 80px;
        border-radius: 50%;
    }
    .profile__container h2 {
        font-size: 19px;
        margin: auto 0;
    }
}
@media(min-width: 455px) and (max-width: 864px) {
    .profile__container img {
        width: 80px;
        border-radius: 50%;
    }
    .profile__container h2 {
        text-align: center;
        font-size: 18px;
        margin: auto 0;
    }
}