.shopping__background {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    height: 100%;
    bottom: 1px;
}
.shopping__container {
    display: flex;
    background-color: #f2f2f2;
    overflow-y:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 25%;
    top: 30%;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    border-radius: 30px;
}
.shopping__header {
    display: flex;
    align-items: center;
    width: 300px;
}

.shopping__header img {
    width: 20px;
    height: 20px;
    margin-left: 120px;
}
.shopping__item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    width: 98%;
    border-radius: 30px;
    box-shadow: 0px 4px 5px 0px #00000040;
}
.shopping__item-data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
}
.shopping__item-img{
    width: 70px;
    height: 100px;
}
.shopping__item-title {
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
    width: 200px;
}
.shopping__item-add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping__item-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    margin-left: 20px;
}
.shopping__item-button button {

    width: 15px;
    margin: 8px;
}
.shopping__button-end {
    display: flex;
}

@media(max-width: 450px) {
    .shopping__container {
        display: flex;
        background-color: #f2f2f2;
        flex-flow: column;
        overflow-y: scroll;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 8%;
        top: 8%;
        width: 85vw;
        height: 88vh;
        border-radius: 30px;
    }
    .shopping__header {
        display: flex;
        align-items: center;
        width: 300px;
    }
    .shopping__item {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        width: 95%;
        border-radius: 30px;
        box-shadow: 0px 4px 5px 0px #00000040;
    }
    .shopping__button-end {
        display: block;
    } 
}

    @media(min-width: 455px) and (max-width: 1034px) {
        .shopping__container {
            display: flex;
            background-color: #f2f2f2;
            flex-flow: column;
            overflow-y: scroll;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: 8%;
            top: 8%;
            width: 85vw;
            height: 88vh;
            border-radius: 30px;
        }
        .shopping__header {
            display: flex;
            align-items: center;
            width: 300px;
        }
        .shopping__item {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
            width: 95%;
            border-radius: 30px;
            box-shadow: 0px 4px 5px 0px #00000040;
        }
        .shopping__button-end {
            display: flex;
        }
     }
 
